body { line-height: 1.5; 
  font-size: 22px; 
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
} 


article {
  margin: auto;
  text-align: center;
  width: 50ch;
  display: block;
  background-color: hsl(101, 84%, 40%);
  border-radius: 10%;
  padding: 0;
  margin-top: 10vw;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}
/*gives us the hover effect*/
article:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}


button, button:visited{
  width: max-content;
  text-decoration: none;
  border-radius: 10%;
  display: block;
  margin: auto;
}

button:hover{
  background-color: rgb(209, 191, 191);
}

img{
  display: block;
  width: 200%;
  height: 20rem;
  object-fit: cover;
}

a, a:visited{
  display: inline-flex;
  flex-wrap: wrap;
  text-decoration: none;
}

h3 {
  display: block;
  text-align: center;

  height: auto;
  width: 230px;
  margin: auto;
}